
cfm/\.idea/

cfm/\.vscode/

cfm/\.devcontainer/

cfm/bin/

cfm/build/

supplementary_material/

cfm/cmake-build-*/

cfm/data/

data_set/

jobs/

cfm/debug/

cfm/\.vs/

cfm/CMakeSettings\.json

\.vs/
cfm/out
